*{
    margin: 0px;
    padding: 0px;
}

/* @font-face {
    font-family: 'Gill Sans Bold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    src: url(fonts/Gill\ Sans\ Bold.otf);
} */

@font-face {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    src: url(fonts/Gill\ Sans\ Heavy.otf);
}
section{
    overflow: hidden;
}
body{
    background-color: #f1ede9;
    position: relative;
    line-height: 0;

}

#header{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 1589px;
  background-image: url(img/main.png);
}


.theme-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 538px;
    left: 62px;
    line-height: 1;
}

.theme-top{
    /* margin: 230px; */
    display: fixed;
    /* background-color: bisque; */
}

/* .theme1{
    padding: 40px;
    background-color: #fff;

} */

.theme1 p{
    font-size: 138px;
    color: #4d4c49;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* text-align: center; */
}

.theme-bottom{
    /* margin-top: 127px; */
    display: flex;
    /* background-color: bisque; */

}

/* .theme2{
    background-color: #fff;
} */

.theme2 p{
    font-size: 138px;
    color: #4d4c49;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;

}

.theme3{
    padding: 40px;
    /* background-color: #fff; */
    justify-content: center;
    align-items: center;

}

.theme3 p{
    font-size: 46px;
    color: #4d4c49;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Gill Sans Heavy', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;
}

.siteguide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    text-align: left;
    position: absolute;
    line-height: 2;
    top: 1100px;
    left: 131px;
    font-size: 16px;
    font-family: 'Klee One', cursive;
    color: #4d4c49;
}

/* .scroll hr{
    color: #4d4c49;
} */

@media screen and (max-width: 1440px) {
    #sp-siteguide{
        display: none;
    }
    
}

@media screen and (max-width: 480px){
    #header{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 628px;
        background-image: url(img/main-sp.png);
      }

      .theme-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 280px;
        left: 50px;
        line-height: 1;
    }

    .theme1 p{
        font-size: 54px;
    }
    
    .theme2 p{
        font-size: 54px;
    }

    .theme3{
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .theme3 p{
        font-size: 18px;
    }

    .scroll, .scroll hr{
        display: none;

    }

    #sp-siteguide{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        padding: 40px;
    }
    #sp-siteguide p{
        width: 70%;
        position: absolute;
        font-size: 16px;
        color: #4d4c49;
        line-height: 2;
        font-family: 'Klee One', cursive;
    }
}



/* ナビゲーション */
.milkname-container{
    position: absolute;
    line-height: 1;
    top: 1018px;
    right: 300px;

}
nav ul{
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.milk-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav li{
    list-style-type: none;
    /* float: left; */
    /* margin: 50px 0px; */
}

nav a{
    font-size: 45px;
    font: bold;
    display: block;
    text-decoration: none;
    color: #4d4c49;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    transition: 1s;
}

nav a:hover {
    color: #fff;
}

/* @media screen and (max-width: 480px;) {
    .milkname-container, nav ul, .milk-flex
    
} */


h1, h2, h3, h4{
    font-size: 56px;
    font-family: 'Josefin Sans', sans-serif;
    color: #4d4c49;
    text-align: center;
}

/* dairy */
#dairy{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-image: url(img/dairy-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #e1ceeb; */
}

.dairy-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dairy-text img{
    width: 500px;
    /* object-fit: contain; */
}

/* .dairy-img{
    justify-content: center;
} */

.milkdaimei{
    height: 90px;
}

.milk-text p{
    font-family: 'Klee One', cursive;
}

.content-right{
  width: 500px;
  margin: 20px;
  line-height: 2;
}

.content-right p {
    width: 400px;
    margin: 0 auto 20px;
    color: #4d4c49;
    line-height: 2;
    /* font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif; */
}

.content-right a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 218px;
    height: 81px;
    background-color: rgba(241,237,233,0.35);
    color: #4d4c49;
    border-radius: 40px;
    text-align: center;
    line-height: 81px;
    font-size: 15pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
    transition: 1s;
}

.content-right a:hover{
    background-color: #f1ede9;
}
.pc{
    display: block !important;
}

.sp{
    display: none !important;
    max-width: 50%;
}

@media screen and (max-width: 1440px) {
    .dairy-img-sp{
        display: none;
    } 
}

@media screen and (max-width: 480px){
    #dairy{
        padding: 0px;
    }

    .dairy-text{
        flex-direction: column;
        background-color: #e1ceeb;
    }

    .pc{
        display: none !important;
    }

    .sp{
        display: block !important;
        /* レスポンシブ化時に中央揃えにする方法 */
        margin: 0 auto; 
    }

    .content-left{
        margin-top: 0 auto;
    }

    /* .content-left{
        width: 60vw;
    } */


}


  /*ソイミルク  */
#soy{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-image: url(img/soy-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #b8e3bf; */
}

.soy-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.soy-text img{
    width: 500px;
    object-fit: contain;
}

.content-left {
    width: 500px;
    margin: 20px;
    line-height: 2;
  }
  
.content-left p {
    width: 400px;
    margin: 0 auto 20px;
    color: #4d4c49;
}
  
.content-left a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 218px;
    height: 81px;
    background-color: rgba(241,237,233,0.35);
    color: #4d4c49;
    border-radius: 40px;
    text-align: center;
    line-height: 81px;
    font-size: 15pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
    transition: 1s;
}

.content-left a:hover{
    background-color: #f1ede9;
}

@media screen and (max-width: 480px){
    #soy{
        padding: 0px;
    }
    .soy-text{
        flex-direction: column-reverse;
        background-color: #b8e3bf;
    }
}
/* アーモンドミルク */
#almond{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-image: url(img/almond-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #e6cfb8; */
}

.almond-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.almond-text img{
    width: 500px;
    object-fit: contain;
}

@media screen and (max-width: 480px){
    #almond{
        padding: 0px;
    }
    .almond-text{
        flex-direction: column;
        background-color: #e6cfb8;
    }
}

/* オーツミルク */
#oats{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-image: url(img/oats-background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #b2d8ed; */
}

.oats-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oats-text img{
    width: 500px;
    object-fit: contain;
}

@media screen and (max-width: 480px){
    #oats{
        padding: 0px;
    }
    .oats-text{
        flex-direction: column-reverse;
        background-color: #b2d8ed;
    }
}

/* レシピ一覧 */
#recipes{
    width: 100vW;
    height: 842px;
    background-image: url(img/recipe_background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #e6cfb8;
}

.recipes-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    line-height: 2;
}

h5{
    font-size: 90px;
    font-family: 'Josefin Sans', sans-serif;
    color: #4d4c49;
    text-align: center;
}

.recipes-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.recipe1{
    background-color: #fff;
    padding: 40px;
    margin: 0px 78px;
    border-radius: 47px;
}

/* .recipename1{
    background-color: #b8e3bf;
    border-radius: 20px;
} */

.recipename1 a{
  display: block;
  margin: 10px auto;
  text-decoration: none;
  width: 170px;
  height: 50px;
  background-color: #f1ede9;
  color: #4d4c49;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 10pt;
  font-family: 'Klee One', cursive;
  font-weight: bold;
  transition: 1s;
}

.recipename1 a:hover{
    background-color: #b8e3bf
}

.recipe2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 40px;
    margin: 0px 78px;
    border-radius: 47px;
}

.recipe-img{
    margin-top: 10px;
}

.recipename2 a{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 170px;
    height: 50px;
    background-color: #f1ede9;
    color: #4d4c49;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 10pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
    transition: 1s;
  }

  .recipename2 a:hover{
    background-color: #e6cfb8;
  }
  

.recipe3{
    background-color: #fff;
    padding: 40px;
    margin: 0px 78px;
    border-radius: 47px;
}

.recipename3 a{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 170px;
    height: 50px;
    background-color: #f1ede9;
    color: #4d4c49;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 10pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
    transition: 1s;
}

.recipename3 a:hover{
    background-color: #b2d8ed
}

@media screen and (max-width: 480px){
    #recipes{
        height: 1554px;
        width: 100vW;
        background-image: url(img/recipes-background-sp.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: #e6cfb8;
    }
    
    .recipes-box{
        flex-direction: column;
    }

    .recipe1, .recipe2, .recipe3{
        margin-bottom: 78px;
    }
}


/* コラム */
#column{
    width: 100vw;
    height: 505px;
    background-image: url(img/column.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    line-height: 2;
}
  
h6{
    font-size: 90px;
    font-family: 'Josefin Sans', sans-serif;
    color: #4d4c49;
    text-align: center;
}

/* .column-text{
    width: 550px;
} */

.column-text p{
    font-family: 'Klee One', cursive;
    color: #4d4c49;
}

@media screen and (max-width: 480px){
    #column{
        background-image: url(img/column-background-sp.png);
        width: 100vw;
        height: 506px;
        background-repeat: no-repeat;
        background-position: center center;
        /* background-size: cover; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .column-content{
        width: 80%;
    }

}

/* フッター */
footer{
    /* font-size: 24px; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding: 24px;
    text-align: center;
    font-family: 'Klee One', cursive;
    background-color: #f1ede9;
    color: #4d4c49;
}

/* footer{
    height: 30px;
    color: #4d4c49;
} */

/* フワッと */
.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }

