*{
    margin: 0px;
    padding: 0px;
}

section{
    overflow: hidden;
}

.header{
  /* background-size: cover; */
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  background-image: url(img/header_img.png);
}

.theme-container{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.theme-top{
    /* margin: 230px; */
    display: fixed;
    background-color: bisque;
}

.theme1{
    /* padding: 40px; */
    background-color: #fff;

}

.theme1 p{
    font-size: 162px;
    color: #4d4c49;
    /* text-align: center; */
}

.theme-bottom{
    margin-top: 127px;
    display: flex;
    background-color: bisque;

}

.theme2{
    background-color: #fff;
}

.theme2 p{
    font-size: 162px;
    color: #4d4c49;
    text-align: center;

}

.theme3{
    padding: 40px;
    background-color: #fff;
    justify-content: center;
    align-items: center;

}

.theme3 p{
    font-size: 40px;
    color: #4d4c49;
    text-align: center;
}

.milkname{
    background-color: #f1ede9;
}
/* ナビゲーション */
nav ul{
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.milk-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    list-style-type: none;
    float: left;
    margin: 50px 50px;
}

.dairy-background{
    background-image: url(img/dairy.png);

}

nav a{
    font-size: 65px;
    display: block;
    text-decoration: none;
    color: #4d4c49;
    margin-top: 14px;
    margin-right: 40px;
    text-align: center;
    writing-mode: vertical-rl;
    transition: 0.3s;
}


h1, h2, h3, h4{
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    color: #4d4c49;
    text-align: center;
}
.dairy{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-color: #e1ceeb;
}

.dairy-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dairy-text img{
    width: 500px;
    object-fit: contain;
}

.milkdaimei{
    height: 90px;
}

.milk-text p{
    font-family: 'Klee One', cursive;
}

.content-right{
  width: 500px;
  margin: 20px;
  line-height: 2;
}

.content-right p {
    width: 400px;
    margin: 0 auto 20px;
    /* font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif; */
}

.content-right a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 218px;
    height: 81px;
    background-color: #f1ede9;
    color: #4d4c49;
    border-radius: 40px;
    text-align: center;
    line-height: 81px;
    font-size: 15pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
}


  
.soy{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-color: #b8e3bf;
}

.soy-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.soy-text img{
    width: 500px;
    object-fit: contain;
}

.content-left {
    width: 500px;
    margin: 20px;
    line-height: 2;
  }
  
.content-left p {
    width: 400px;
    margin: 0 auto 20px;
}
  
.content-left a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    width: 218px;
    height: 81px;
    background-color: #f1ede9;
    color: #4d4c49;
    border-radius: 40px;
    text-align: center;
    line-height: 81px;
    font-size: 15pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
}

.almond{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-color: #e6cfb8;
}

.almond-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.almond-text img{
    width: 500px;
    object-fit: contain;
}

.oats{
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 72px 0px; 
    background-color: #b2d8ed;
}

.oats-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oats-text img{
    width: 500px;
    object-fit: contain;
}

.recipes{
    width: 100vW;
    height: 842px;
    background-image: url(img/recipe_background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #e6cfb8;
}

.recipes-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

h5{
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    color: #4d4c49;
    text-align: center;
}

.recipes-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.recipe1{
    background-color: #fff;
    padding: 40px;
    margin: 0px 78px;
    border-radius: 47px;
}

/* .recipename1{
    background-color: #b8e3bf;
    border-radius: 20px;
} */

.recipename1 a{
  display: block;
  margin: 10px auto;
  text-decoration: none;
  width: 170px;
  height: 40px;
  background-color: #b8e3bf;
  color: #4d4c49;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 10pt;
  font-family: 'Klee One', cursive;
  font-weight: bold;
}

.recipe2{
    background-color: #fff;
    padding: 40px;
    margin: 0px 78px;
    border-radius: 47px;
}

.recipename2 a{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #e6cfb8;
    color: #4d4c49;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 10pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
  }
  

.recipe3{
    background-color: #fff;
    padding: 40px;
    margin: 0px 78px;
    border-radius: 47px;
}

.recipename3 a{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #b2d8ed;
    color: #4d4c49;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 10pt;
    font-family: 'Klee One', cursive;
    font-weight: bold;
}



.column{
    width: 100vw;
    height: 505px;
    background-image: url(img/column.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
h6{
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    color: #4d4c49;
    text-align: center;
}

.column-text{
    width: 550px;
}

.column-text p{
    font-family: 'Klee One', cursive;
}

footer{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Klee One', cursive;
    background-color: #f1ede9;
}

